---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}
  <img src="assets/images/zoopic.jpg" alt="headshot" style="width: 150px; height: 150px; border-radius: 50%; margin: 0 auto; float: right; vertical-align: -20px">
  <h1>{{ site.title }}</h1>
  {% if site.theme_config.show_description == true %}
    <h2>things about me...</h2>
      <ul>
      <li>i'm a first year @ university of michigan!</li>
      <li>i'm also an undergraduate research assistant @ <a href="https://mavric.si.umich.edu/">MAVRIC Lab</a>!</li>
      <li>i'm a prospective b.s.e. in computer engineering, concentrating in robotics and vision.</li>
      <li>i'm an avid music listener (check out my <a href="https://www.last.fm/user/alberttchen">last.fm!</a>), foodie, and self-proclaimed athlete!</li>
      </ul>
  {% endif %}
</header>

{{ content }}

{% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_projects }}</h2>
  {% include card_list.html collection=site.data.home.project_entries %}
{% endif %}

{% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list }}</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %}

{% if site.theme_config.show_blog == true %}
  <h2>{{ site.theme_config.home.title_blog }}</h2>
  {% include post_list.html %}
{% endif %}

{% if site.theme_config.show_old_projects == true %}
  <h2>{{ site.theme_config.home.title_old_projects }}</h2>
  {% include card_list.html collection=site.data.home.old_project_entries %}
{% endif %}


{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
